@charset "utf-8";
html,head,body,div,figure,img,ul,li,a,nav,main,footer,p,h1,h2,h3,table,td,tr{
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
 }

nav{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: transparent;
}

 ul{
   margin-top: 20px;
   list-style-type: none;
   font-family: 'Noto Serif KR', serif;
   font-size: 16px;
   font-weight: 400;
   color: #373737;
   background-color: transparent;
 }

 ul>li{
   display: inline-block;
   padding: 0 20px;
   background-color: transparent;

 }

 ul>li>a{
   text-decoration: none;
   color: #373737;
   background-color: transparent;
 }

 ul>li>a:hover{
   text-decoration: none;
   color: #E64A19;
   background-color: transparent;
 }
 .year{
   padding: 150px 0px 20px 0px;
   font-family: 'Noto Serif KR', serif;
   font-size: 15px;
   font-weight: 200;
   letter-spacing: 3px;
   text-align: center;
 }

 .orange{
   color: #E64A19;
 }

.title{
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 10px 0px 20px;
  background-color: transparent;
}

h1{
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  font-size: 18px;
  margin: 200px 0px 80px 0px;
  background-color: transparent;
  text-align: center;
}

.story{
  text-align: center;
}

.lyrics{
  width: 40%;
  display: inline-block;
  font-family: 'Noto Serif KR', serif;
  font-weight: 200;
  font-size: 12px;
  background-color: transparent;
  text-align: center;
  font-style: italic;
  line-height: 2;
  margin-bottom: 50px;
}

.songname{
  font-family: 'Noto Serif KR', serif;
  font-weight: 200;
  font-size: 12px;
  background-color: transparent;
  text-align: center;
  font-style: italic;
  line-height: 3;
}

h2{
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  font-size: 15px;
  margin: 100px 0px 20px 0px;
  background-color: transparent;
  text-align: center;
}

p{
  font-family: 'Noto Serif KR', serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 20px;
  background-color: transparent;
  display: inline-block;
  width: 65%;
  text-align: justify;
}

.background{
  float: left;
  margin-top: -150px;
}

.background img{
  width: 100%;
}

#pages{
  float: left;
  overflow-x: scroll;
  width: auto;
      white-space: nowrap;
  }

.page{
   display: inline-block;
   width: 100%;
   height: 100%;
   border: none;
}

table{
  margin-top: 100px;
  font-family: 'Noto Serif KR', serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

tr{
  line-height: 35px;
}

td>a{
  color: #373737;
  text-decoration: none;
}

td>a:hover{
  color: #E64A19;
  text-decoration:underline;
}

.photo{
  float: left;
  width: 100%;
  margin-top: 85px;
}

.fam_photo{
  float: left;
  width: 100%;
}

.photo img, .fam_photo img{
  width: 100%;
  text-align: center;
}

.top{
  position: fixed;
  right:0px;
  bottom: 0px;
  width: 100%;
  padding:7px 30px 25px 0px;
  text-align: right;

}

.top a{
  text-decoration: none;
  font-family: 'Noto Serif KR', serif;
  font-size: 12px;
  font-weight: 200;
  color: #373737;
  background-color: #fff;
}

.top a:hover{
  color:#E64A19;
}

form{
  text-align: center;
  margin: auto;
}

input[type=text], textarea {
  display: inline-block;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize:vertical;
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    font-family: 'Noto Serif KR', serif;
    font-size: 15px;
    font-weight: 300;
}

input[type=submit] {
    background-color: #373737;
    color: white;
    padding: 12px 30px;
    margin-top: 10px;
    font-family: 'Noto Serif KR',serif;
    font-size: 15px;
    border: none;
    border-radius: 0px;ß
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #E64A19;
}

footer{
  float: right;
  width: 100%;
  padding: 50px 0px 30px 0px;
  text-align: center;
  font-family: 'Noto Serif KR', serif;
  font-size: 10px;
  font-weight: 400;
  font-style: oblique;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  nav{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: transparent;
  }

   ul{
     margin-top: 20px;
     list-style-type: none;
     font-family: 'Noto Serif KR', serif;
     font-size: 13px;
     font-weight: 400;
     color: #373737;
     background-color: transparent;
   }

   ul>li{
     display: inline-block;
     padding: 0 15px;
     background-color: transparent;

   }

   ul>li>a{
     text-decoration: none;
     color: #373737;
     background-color: transparent;
   }

   ul>li>a:hover{
     text-decoration: none;
     color: #E64A19;
     background-color: transparent;
   }

   table{
     padding: 15px 20px 0px 20px;
     font-family: 'Noto Serif KR', serif;
     font-size: 10px;
     font-weight: 200;
     letter-spacing: 3px;
     background-color: transparent;
     text-align: center;
     width: 100%;
   }

   tr{
     line-height: 30px;
   }

   td>a{
     color: #373737;
     text-decoration: none;
   }

   td>a:hover{
     color: #E64A19;
     text-decoration:underline;
   }

   form{
     text-align: center;
     margin: auto;
   }

   input[type=text], textarea {
     display: inline-block;
       width: 75%;
       padding: 12px;
       border: 1px solid #ccc;
       box-sizing: border-box;
       resize:vertical;
       margin-top: 6px; /* Add a top margin */
       margin-bottom: 10px; /* Bottom margin */
       font-family: 'Noto Serif KR', serif;
       font-size: 15px;
       font-weight: 300;
   }

   input[type=submit] {
       background-color: #373737;
       color: white;
       padding: 12px 30px;
       margin-top: 10px;
       font-family: 'Noto Serif KR',serif;
       font-size: 15px;
       border: none;
       border-radius: 0px;ß
       cursor: pointer;
   }

   input[type=submit]:hover {
       background-color: #E64A19;
   }
}
